//font-size-small
.fz-xs {
    font-size: 12px;
}
.fz-s{
    font-size: 14px;
}
//line-height-normal
.lh-basic {
    line-height: 24px;
}

.text-indent {
    text-indent: 32px;
}

.btn-padding {
    padding: 8px 32px;
}


