/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif, "Roboto Mono", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #212529;
}

main {
  margin-left: 296px;
  min-width: 984px;
  padding-left: 33px;
}

img {
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

.fz-xs {
  font-size: 12px;
}

.fz-s {
  font-size: 14px;
}

.lh-basic {
  line-height: 24px;
}

.text-indent {
  text-indent: 32px;
}

.btn-padding {
  padding: 8px 32px;
}

.text-replaced {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.headshot-round {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.subtitle {
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
  margin-right: 3rem;
}

.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.html-tag {
  font-family: "Roboto Mono", sans-serif;
  font-size: 14px;
  color: #198754;
  background-color: #f8f9fa;
  border-radius: 2px;
}

.btn-download {
  padding: 8px 16px 8px 12px;
  margin-top: 16px;
  background-color: #f8f9fa;
  font-weight: bold;
  border: 1px solid #ced4da;
  border-radius: 2px;
}

.btn-download:hover {
  outline: 3px solid #6c757d;
}

.nav {
  position: fixed;
  min-width: 296px;
  min-height: 100vh;
  padding: 32px 0px;
}

.nav-logo {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/2b326fe971cd296bd54667a9b4a63c4b0f19fab3/week5/logo-ANSWER.svg);
  width: 151px;
  height: 40px;
  margin-bottom: 32px;
  margin-left: 32px;
}

.nav-item {
  margin-bottom: 20px;
}

.nav-link {
  color: #212529;
  padding-left: 32px;
  position: relative;
}

.nav-link:hover {
  color: #212529;
  background-color: #ced4da;
}

.nav-link:visited {
  color: #212529;
}

.nav-link.active {
  color: #198754;
}

.nav-link.active ::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 4px;
  height: 40px;
  border-left: 4px solid #198754;
}

.nav-link.active:hover {
  background-color: #f8f9fa;
}

.account {
  position: absolute;
  left: 32px;
  bottom: 32px;
}

.account-name {
  line-height: 22px;
}

.account-email {
  line-height: 19px;
}

.navbar {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 32px;
}

.dropdown-toggle::after {
  display: none;
}

.list-group-title {
  margin-top: 12px;
  margin-bottom: 6px;
}

.list-group-item {
  min-width: 320px;
  padding: 12px;
  border: 1px solid #ced4da;
}

.list-group-item.active {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #ced4da;
}

.list-group-item:hover {
  color: #212529;
  background-color: #f8f9fa;
}

.list-group-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.list-group-item:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.card {
  min-width: 580px;
}

.card-no {
  margin-top: 14px;
  margin-bottom: 8px;
}

.card-main {
  width: 488px;
  border-bottom: 1px solid #ced4da;
}

.card-header {
  padding: 12px 16px;
}

.card-body1 {
  padding: 16px 32px 0px 16px;
}

.card-body2 {
  padding: 16px 32px 22px 16px;
}

.page-space {
  margin-bottom: 32px;
  margin-right: 32px;
}

.page-link {
  color: #212529;
  border: 0;
}

.page-link:hover {
  background-color: #fff;
  border-color: #fff;
}

.page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*# sourceMappingURL=all.css.map */
